<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chatting.repository.mappers.MemberMapper">

    <!-- 멤버 저장 -->
    <insert id="save" parameterType="com.chatting.domain.Member">
        insert into member_tbl
            (provider, member_id, member_name, member_email, member_nickname, member_role, joindate)
        values
            (#{provider}, #{memberId}, #{memberName}, #{memberEmail}, #{memberNickName}, #{memberRole}, now());
    </insert>

    <!-- 멤버 조회 -->
    <select id="findById" resultType="com.chatting.domain.Member" parameterType="string">
        select member_seq, member_name, member_email, member_nickname, member_role, joindate
        from MEMBER_TBL
        where MEMBER_ID = #{memberId}
    </select>

</mapper>